#header {

    width: 100%;
    background-color: #fff;
    height: 60px;
    line-height: 60px;

}
#logo_container {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
}

#links {
    padding-right: 10px;
    float: right;
    display: inline-block;
    height: 60px;
}
#links li{
    display: inline-block;
    padding: 0px 10px;
}

.header_li_text {
    color: #000;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.header_li_text:hover {
    color: #6400a9;
}

.header_li_icon {
    padding: 5px;
    font-size: 25px;
    color: #6400a9;
}

@media only screen and (max-width: 599px) {
    .header_li_text {
        display: none;
    }
}
@media only screen and (min-width: 600px) {
    .header_li_icon {
        display: none;
    }
}

@media only screen and (max-width: 330px) {
    .header_li_icon {
        padding: 0px;
        font-size: 20px;
    }
}
.link_border {
    height: 2px;
    color: #6400a9;
    width: 100%;

}
